# Logs
logs/
*.log
npm-debug.log*

# Node modules
node_modules/

# Build files & distribution
dist/
dist-ssr/
build/

# Environment variables
.env
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MongoDB data
dump/
data/

# Coverage reports
coverage/

